<div style="float: left;">{{$ctrl.dashboard.name}}</div>
<table class="table table-bordered table-condensed leftAlign">
    <thead>
    <tr>
        <th><span data-toggle="tooltip" title="Training" data-placement="bottom">T</span></th>
        <th><span data-toggle="tooltip" title="Keepalive" data-placement="bottom">K</span></th>
        <th><span data-toggle="tooltip" title="Graveyard" data-placement="bottom">G</span></th>
        <th><span data-toggle="tooltip" title="Removed" data-placement="bottom">R</span></th>
        <th>Total</th>
        <th colspan="2">Balances</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{$ctrl.dashboard.data.training}}</td>
        <td>{{$ctrl.dashboard.data.keepalive}}</td>
        <td>{{$ctrl.dashboard.data.graveyard}}</td>
        <td>{{$ctrl.dashboard.data.removed}}</td>
        <td>{{$ctrl.dashboard.data.total}}</td>
        <td>
            <span ng-if="$ctrl.dashboard.data.totalEth > 0">
                <span data-toggle="tooltip" title="{{($ctrl.dashboard.data.totalEthFiat | customnumber: 2) || 'unknown'}} €" data-placement="bottom">
                    {{$ctrl.dashboard.data.totalEth | customnumber:6}} ETH
                </span>
                <br>
            </span>
            <span data-toggle="tooltip" title="{{($ctrl.dashboard.data.totalStorjFiat | customnumber: 2) || 'unknown'}} €" data-placement="bottom">
                {{$ctrl.dashboard.data.totalStorj | customnumber:0:true}} STORJ
            </span>
        </td>
        <td><strong>{{$ctrl.getFiatTotal() | customnumber: 2}} €</strong></td>
    </tr>
    </tbody>
</table>
