<div class="centerAlign">Nicehash balances:</div>
<table class="table table-bordered table-condensed leftAlign">
    <thead>
    <tr>
        <th>Wallet</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(id, dashboard) in $ctrl.dashboards track by $index">
        <td>{{dashboard.name}}</td>
        <td class='ellipsis'>
            <span data-toggle="tooltip" title="{{(dashboard.data.balanceFiat | customnumber: 2) || 'unknown'}} €" data-placement="bottom">
                {{dashboard.data.balance | customnumber:8}} BTC
            </span>
        </td>
    </tr>
    <tr>
        <td><strong>Total</strong></td>
        <td><strong>{{$ctrl.getFiatTotal() | customnumber: 2}} €</strong></td>
    </tr>
    </tbody>
</table>
