<div class="centerAlign">
  <form name="config">
    <div class="row" style="margin-bottom: 10px;">
      <div  class="col-md-12">
        stats interval: <input type="number" ng-model="configVm.config.interval"> [s]
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div  class="col-md-12">
        stats layout:
        <label ng-repeat="layout in configVm.config.layouts">
          <input type="radio" ng-model="configVm.config.layout" ng-click="configVm.setConfig()" ng-value="layout" /> {{layout}}&nbsp;
        </label>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div  class="col-md-12">
        nh addr: <input type="text" size="42" ng-model="configVm.config.nicehashAddr">
      </div>
    </div>
  </form>


  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12">
      <button ng-show="!configVm.waiting" type="button" class="btn btn-primary" ng-click="configVm.setConfig()" ng-disabled="config.$invalid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save
      </button>
      <button ng-show="configVm.waiting" type="button" class="btn btn-success" disabled><i class="fa fa-refresh" aria-hidden="true"></i> Saving..
      </button>
      <i ng-show="configVm.waiting" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12">
      <button ng-show="!configVm.updating" type="button" class="btn btn-info" ng-click="configVm.update()"><i class="fa fa-cloud-download" aria-hidden="true"></i> Git Pull
      </button>
      <button ng-show="configVm.updating" type="button" class="btn btn-success" disabled><i class="fa fa-refresh" aria-hidden="true"></i> update running..
      </button>
      <i ng-show="configVm.updating" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

