<div style="padding-left: 20px; padding-right: 20px;">
  <form name="config">
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-12 centerAlign" style="margin-bottom: 10px;">
        <span style="font-size:120%;">Dashboards:</span>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-12 centerAlign">
        <table class='table table-borderless table-condensed'>
          <tr>
            <th class="centerAlign">enabled</th>
            <th class="centerAlign">name (unique)</th>
            <th class="centerAlign">type</th>
            <th class="centerAlign">address</th>
            <th class="centerAlign">ticker</th>
            <th class="centerAlign">base url</th>
            <th class="centerAlign">api_key</th>
            <th class="centerAlign">user_id</th>
            <th class="centerAlign">hashrate Modifier</th>
            <th class="centerAlign">action</th>
          </tr>
          <tr ng-repeat="entry in configVm.config.dashboardData track by $index">
            <td><input type="checkbox" ng-model="entry.enabled" ng-click="configVm.setConfig()"></td>
            <td><input type="text" name="{{entry.name}}" ng-model="entry.name" placeholder="name" size="26" required></td>
            <td><select name="typeSelect-{{entry.name}}" ng-options="type for type in configVm.config.dashboardTypes" ng-model="entry.type" required></select></td>
            <td ng-if="configVm.getDashboardTypes('address') | contains: entry.type"><input type="text" name="address-{{entry.name}}" ng-model="entry.address" placeholder="1FeLiXbjMPY8LghCDe1jTQ3AS7iCZGuaJU" size="26" required></td>
            <td ng-if="!(configVm.getDashboardTypes('address') | contains: entry.type)"><input type="text" name="address-{{entry.name}}" ng-model="entry.address" placeholder="" size="26" disabled></td>
            <td ng-if="configVm.getDashboardTypes('ticker') | contains: entry.type"><input type="text" name="ticker-{{entry.name}}" ng-model="entry.ticker" placeholder="hxx" size="26" required></td>
            <td ng-if="!(configVm.getDashboardTypes('ticker') | contains: entry.type)"><input type="text" name="ticker-{{entry.name}}" ng-model="entry.ticker" placeholder="" size="26" disabled></td>
            <td ng-if="configVm.getDashboardTypes('baseUrl') | contains: entry.type"><input type="text" name="baseUrl-{{entry.name}}" ng-model="entry.baseUrl" placeholder="https://zec.suprnova.cc" size="26" required></td>
            <td ng-if="!(configVm.getDashboardTypes('baseUrl') | contains: entry.type)"><input type="text" name="baseUrl-{{entry.name}}" ng-model="entry.baseUrl" placeholder="" size="26" disabled></td>
            <td ng-if="configVm.getDashboardTypes('apiKey') | contains: entry.type"><input type="text" name="api_key-{{entry.name}}" ng-model="entry.api_key" placeholder="" size="26"></td>
            <td ng-if="!(configVm.getDashboardTypes('apiKey') | contains: entry.type)"><input type="text" name="address-{{entry.name}}" ng-model="entry.api_key" placeholder="" size="26" disabled></td>
            <td ng-if="configVm.getDashboardTypes('userId') | contains: entry.type"><input type="text" name="user_id-{{entry.name}}" ng-model="entry.user_id" placeholder="" size="7" required></td>
            <td ng-if="!(configVm.getDashboardTypes('userId') | contains: entry.type)"><input type="text" name="user_id-{{entry.name}}" ng-model="entry.user_id" placeholder="" size="7" disabled></td>
            <td ng-if="configVm.getDashboardTypes('hashrateModifier') | contains: entry.type"><input type="number" step="0.0001" name="hrModifier-{{entry.name}}" ng-model="entry.hrModifier" placeholder="1" required></td>
            <td ng-if="!(configVm.getDashboardTypes('hashrateModifier') | contains: entry.type)"><input type="number" step="0.0001" name="hrModifier-{{entry.name}}" ng-model="entry.hrModifier" placeholder="" disabled></td>
            <td>
              <button type="button" class="btn btn-warning" ng-click="configVm.delDashboard(entry.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Remove
              </button>
            </td>
          </tr>
          <tr style="border-top: 1px solid lightgrey;">
            <td><input type="checkbox" ng-model="configVm.newDashboard.enabled"></td>
            <td><input type="text" name="newDeviceName" ng-model="configVm.newDashboard.name" placeholder="name" size="26"></td>
            <td><select name="typeSelect-{{entry.name}}" ng-options="type for type in configVm.config.dashboardTypes" ng-model="configVm.newDashboard.type"></select></td>
            <td ng-if="configVm.getDashboardTypes('address') | contains: configVm.newDashboard.type"><input type="text" name="address-{{configVm.newDashboard.name}}" ng-model="configVm.newDashboard.address" placeholder="1FeLiXbjMPY8LghCDe1jTQ3AS7iCZGuaJU" size="26"></td>
            <td ng-if="!(configVm.getDashboardTypes('address') | contains: configVm.newDashboard.type)"><input type="text" name="address-{{configVm.newDashboard.name}}" ng-model="configVm.newDashboard.address" placeholder="" size="26" disabled></td>
            <td ng-if="configVm.getDashboardTypes('ticker') | contains: configVm.newDashboard.type"><input type="text" name="ticker-new" ng-model="configVm.newDashboard.ticker" placeholder="hxx" size="26" required></td>
            <td ng-if="!(configVm.getDashboardTypes('ticker') | contains: configVm.newDashboard.type)"><input type="text" name="ticker-new" ng-model="configVm.newDashboard.ticker" placeholder="" size="26" disabled></td>
            <td ng-if="configVm.getDashboardTypes('baseUrl') | contains: configVm.newDashboard.type"><input type="text" name="baseUrl-{{configVm.newDashboard.name}}" ng-model="configVm.newDashboard.baseUrl" placeholder="https://zec.suprnova.cc" size="26"></td>
            <td ng-if="!(configVm.getDashboardTypes('baseUrl') | contains: configVm.newDashboard.type)"><input type="text" name="baseUrl-{{configVm.newDashboard.name}}" ng-model="configVm.newDashboard.baseUrl" placeholder="" size="26" disabled></td>
            <td ng-if="configVm.getDashboardTypes('apiKey') | contains: configVm.newDashboard.type"><input type="text" name="api_key-{{configVm.newDashboard.name}}" ng-model="configVm.newDashboard.api_key" placeholder="" size="26"></td>
            <td ng-if="!(configVm.getDashboardTypes('apiKey') | contains: configVm.newDashboard.type)"><input type="text" name="address-{{configVm.newDashboard.name}}" ng-model="configVm.newDashboard.api_key" placeholder="" size="26" disabled></td>
            <td ng-if="configVm.getDashboardTypes('userId') | contains: configVm.newDashboard.type"><input type="text" name="user_id-{{configVm.newDashboard.name}}" ng-model="configVm.newDashboard.user_id" placeholder="" size="7"></td>
            <td ng-if="!(configVm.getDashboardTypes('userId') | contains: configVm.newDashboard.type)"><input type="text" name="user_id-{{configVm.newDashboard.name}}" ng-model="configVm.newDashboard.user_id" placeholder="" size="7" disabled></td>
            <td ng-if="configVm.getDashboardTypes('hashrateModifier') | contains: configVm.newDashboard.type"><input type="number" step="0.0001" name="hrModifier-{{configVm.newDashboard.name}}" ng-model="configVm.newDashboard.hrModifier" placeholder="1"></td>
            <td ng-if="!(configVm.getDashboardTypes('hashrateModifier') | contains: configVm.newDashboard.type)"><input type="number" step="0.0001" name="hrModifier-{{configVm.newDashboard.name}}" ng-model="configVm.newDashboard.hrModifier" placeholder="" disabled></td>
            <td>
              <button type="button" class="btn btn-success" ng-click="configVm.addDashboard()">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                Add
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>

<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-12 centerAlign">
    <button ng-show="!configVm.waiting" type="button" class="btn btn-primary" ng-click="configVm.setConfig()" ng-disabled="config.$invalid"><i class="fa fa-save" aria-hidden="true"></i> Save
    </button>
    <button ng-show="configVm.waiting" type="button" class="btn btn-success" disabled><i class="fa fa-sync" aria-hidden="true"></i> Saving..
    </button>
    <i ng-show="configVm.waiting" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>
