<div masonry>
    <div class="col-md-2 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('bitcoinBalance')">
        <div class="centerAlign">Bitcoin balances:</div>
        <table class="table table-bordered table-condensed leftAlign">
            <thead>
            <tr>
                <th>Wallet</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(id, dashboard) in statsVm.current.dashboardData track by $index">
                <td ng-if="dashboard.type==='bitcoinBalance'&&dashboard.enabled">
                    <a href="https://blockchain.info/address/{{dashboard.addr}}" target="_blank">{{dashboard.name}}</a>
                </td>
                <td ng-if="dashboard.type==='bitcoinBalance'&&dashboard.enabled" class='ellipsissmall'>
                    <span data-toggle="tooltip" title="{{(dashboard.data.balanceFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                        {{(dashboard.data.balance) | number:8}} BTC
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('cryptoidBalance')">
        <div class="centerAlign">CryptoID balances:</div>
        <table class="table table-bordered table-condensed leftAlign">
            <thead>
            <tr>
                <th>Wallet</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(id, dashboard) in statsVm.current.dashboardData track by $index">
                <td ng-if="dashboard.type==='cryptoidBalance'&&dashboard.enabled" class='ellipsissmall'>
                    <a href="https://chainz.cryptoid.info/{{dashboard.ticker.toLowerCase()}}/address.dws?{{dashboard.addr}}" target="_blank">{{dashboard.name}}</a>
                </td>
                <td ng-if="dashboard.type==='cryptoidBalance'&&dashboard.enabled" class='ellipsissmall'>
                    <span data-toggle="tooltip" title="{{(dashboard.data.balanceFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                        {{dashboard.data.balance | number:8}} {{dashboard.ticker}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('counterpartyBalance')">
        <div class="centerAlign">Counterparty balances:</div>
        <table class="table table-bordered table-condensed leftAlign">
            <thead>
            <tr>
                <th>Wallet</th>
                <th>Amount</th>
                <th>Token</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(id, dashboard) in statsVm.current.dashboardData track by $index">
                <td ng-if="dashboard.type==='counterpartyBalance'&&dashboard.enabled">
                    <a href="https://counterpartychain.io/address/{{dashboard.addr}}" target="_blank">{{dashboard.name}}</a>
                </td>
                <td ng-if="dashboard.type==='counterpartyBalance'&&dashboard.enabled"
                    class='ellipsissmall'>
                    <span ng-repeat="entry in dashboard.data track by $index">
                        <span data-toggle="tooltip" title="{{(entry.balanceFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                            {{entry.balance | number:6}}
                        </span><br/>
                    </span>
                </td>
                <td ng-if="dashboard.type==='counterpartyBalance'&&dashboard.enabled"
                    class='ellipsissmall'><span
                        ng-repeat="entry in dashboard.data">{{entry.asset}}<br/></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('ethBalance')">
        <div class="centerAlign">Ethereum balances:</div>
        <table class="table table-bordered table-condensed leftAlign">
            <thead>
            <tr>
                <th>Wallet</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(id, dashboard) in statsVm.current.dashboardData track by $index">
                <td ng-if="dashboard.type==='ethBalance'&&dashboard.enabled">
                    <a href="https://etherscan.io/address/{{dashboard.addr}}">{{dashboard.name}}</a>
                </td>
                <td ng-if="dashboard.type==='ethBalance'&&dashboard.enabled" class='ellipsis'>
                    <span ng-if="dashboard.data.eth.balance !== 0 || !dashboard.data.tokens">
                        <span data-toggle="tooltip" title="{{(dashboard.data.eth.balanceFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                            {{dashboard.data.eth.balance | number: 8}} ETH
                        </span>
                    </span>
                    <span ng-if="dashboard.data.eth.balance !== 0"><br/></span>
                    <span ng-repeat="(index, entry) in dashboard.data.tokens track by $index">
                        <span data-toggle="tooltip" title="{{(entry.balanceFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                            {{entry.balance | number:6}} {{entry.tokenInfo.symbol}}
                        </span>
                        <span ng-if="index !== dashboard.data.tokens.length - 1">
                            <br/>
                        </span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('burstBalance')">
        <div class="centerAlign">Burst balances:</div>
        <table class="table table-bordered table-condensed leftAlign">
            <thead>
            <tr>
                <th>Wallet</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(id, dashboard) in statsVm.current.dashboardData track by $index">
                <td ng-if="dashboard.type==='burstBalance'&&dashboard.enabled">{{dashboard.name}}</td>
                <td ng-if="dashboard.type==='burstBalance'&&dashboard.enabled" class='ellipsis'>
                    <span data-toggle="tooltip" title="{{(dashboard.data.balanceFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                        {{dashboard.data.balance | number: 0}} BURST
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('nicehashBalance')">
        <div class="centerAlign">Nicehash balances:</div>
        <table class="table table-bordered table-condensed leftAlign">
            <thead>
            <tr>
                <th>Wallet</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(id, dashboard) in statsVm.current.dashboardData track by $index">
                <td ng-if="dashboard.type==='nicehashBalance'&&dashboard.enabled">{{dashboard.name}}</td>
                <td ng-if="dashboard.type==='nicehashBalance'&&dashboard.enabled" class='ellipsis'>
                    <span data-toggle="tooltip" title="{{(dashboard.data.balanceFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                        {{dashboard.data.balance}} BTC
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="masonry-brick col-md-3" ng-repeat="(id, dashboard) in statsVm.current.dashboardData | filter: {enabled: true, type: 'dashboard-api'} track by $index">
        <div style="float: left;">{{dashboard.name}}</div>
        <table class="table table-bordered table-condensed leftAlign">
            <thead>
            <tr>
                <th><span data-toggle="tooltip" title="Training" data-placement="bottom">T</span></th>
                <th><span data-toggle="tooltip" title="Keepalive" data-placement="bottom">K</span></th>
                <th><span data-toggle="tooltip" title="Graveyard" data-placement="bottom">G</span></th>
                <th><span data-toggle="tooltip" title="Removed" data-placement="bottom">R</span></th>
                <th>Total</th>
                <th>Balances</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{dashboard.data.training}}</td>
                    <td>{{dashboard.data.keepalive}}</td>
                    <td>{{dashboard.data.graveyard}}</td>
                    <td>{{dashboard.data.removed}}</td>
                    <td>{{dashboard.data.total}}</td>
                    <td>
                        <span ng-if="dashboard.data.totalEth > 0">
                            <span data-toggle="tooltip" title="{{(dashboard.data.totalEthFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                                {{dashboard.data.totalEth.toFixed(6)}} ETH
                            </span>
                            <br>
                        </span>
                        <span data-toggle="tooltip" title="{{(dashboard.data.totalStorjFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                            {{dashboard.data.totalStorj.toFixed(0)}} STORJ
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="masonry-brick col-md-6" ng-repeat="(id, dashboard) in statsVm.current.dashboardData | nhOrMphOrMpos track by $index"
         style="margin-bottom: 10px;">
        <div id="board{{id}}" ng-if="dashboard.type==='nicehash'">
            <div class="col-md-12 table-responsive">
                <div class="centerAlign">Workers ({{statsVm.parseName(dashboard.name)}}):</div>
                <table class="table table-bordered table-condensed leftAlign">
                    <thead>
                    <tr>
                        <th class="leftAlign">Algorithm</th>
                        <th class="leftAlign">Hashrate</th>
                        <th class="leftAlign">Profitability</th>
                        <th class="leftAlign">Unpaid balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(id2, data) in dashboard.data.current track by $index">
                        <td ng-if="data.data['1']!==0"><span ng-click="statsVm.toggle('dashboard', id, id2)">{{data.name}}</span></td>
                        <td ng-if="data.data['1']!==0 && data.data['0'].a!==undefined"
                            class='ellipsisbig'><span
                                data-highlighter="data.data['0'].a">{{data.data['0'].a}}</span>
                            {{data.suffix}}/s
                            <span ng-if="data.worker!==undefined" style="font-size:small;">
      <span ng-repeat="(key, value) in data.worker track by $index" ng-hide="statsVm.isHidden('dashboard', id, id2)">
          <br/>
          {{value['0']}}: {{value['1'].a}}<span class="nomobile"> {{data.suffix}}/s (diff: {{value['4']}}, connected: {{value['2']}} min)</span>
      </span>
  </span>
                        </td>
                        <td ng-if="data.data['1']!==0 && data.data['0'].a==undefined">0.00 {{data.suffix}}/s
                        </td>
                        <td ng-if="data.data['1']!==0 && data.data['0'].a!==undefined" class='ellipsis'><span
                                data-highlighter="data.profitability">{{data.profitability * data.data['0'].a | number:4}}</span>
                            BTC/Day
                        </td>
                        <td ng-if="data.data['1']!==0 && data.data['0'].a==undefined" class='ellipsis'>0.0000
                            BTC/Day
                        </td>
                        <td ng-if="data.data['1']!==0"><span data-highlighter="data.data['1']"
                                                               class='ellipsis'>{{data.data['1']|number:8}}</span>
                            BTC
                        </td>
                    </tr>
                    </tbody>
                    <tr ng-if="dashboard.data.sum!==undefined && dashboard.data.sum!==null">
                        <td colspan="2" style="font-weight: bold;">Total</td>
                        <td style="font-weight: bold;">{{dashboard.data.sum.profitability | number:4}}
                            BTC/Day<br/>{{dashboard.data.sum.profitabilityFiat
                            | number:2}} EUR/Day
                        </td>
                        <td style="font-weight: bold;">{{dashboard.data.sum.unpaidBalance | number:8}} BTC<br/>{{dashboard.data.sum.unpaidBalanceFiat
                            | number:2}} EUR
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12 table-responsive">
                <div class="centerAlign">Payments ({{statsVm.parseName(dashboard.name)}}):</div>
                <table class="table table-bordered table-condensed leftAlign">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Fee</th>
                        <th>TXID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(id, data) in dashboard.data.payments track by $index">
                        <td>{{data.time * 1000 | date: "yyyy-MM-dd HH:mm"}}</td>
                        <td>{{data.amount}} BTC</td>
                        <td>{{data.fee}} BTC</td>
                        <td class='ellipsisbig'><a href="https://blockchain.info/tx/{{data.TXID}}"
                                                   target="_blank">{{data.TXID}}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 centerAlign">
                <a href="https://www.nicehash.com/?p=miners&addr={{dashboard.data.address}}" target="_blank">Nicehash
                    {{statsVm.parseName(dashboard.name)}}</a>
            </div>
            <div class="col-md-12 centerAlign">
                <a href="https://www.nicehash.com/" target="_blank">Nicehash Homepage</a>
            </div>
        </div>

        <div id="board{{id}}" ng-if="dashboard.type==='miningpoolhub'">
            <div class="col-md-12  table-responsive">
                <div class="centerAlign">Stats ({{statsVm.parseName(dashboard.name)}}):</div>
                <table class="table table-bordered table-condensed leftAlign">
                    <thead>
                    <tr>
                        <th>Coin</th>
                        <th>Hashrate</th>
                        <th>Profitability</th>
                        <th>Balance</th>
                        <th>Balance (AE)</th>
                        <th>On Exchange</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(id2, data) in dashboard.data.statsData | orderBy:'name' track by $index">
                        <td ng-if="data.balance.confirmed!==0||data.balance.unconfirmed!==0||data.balance_ae.confirmed!==0||data.balance_ae.unconfirmed!==0||(data.onExchange!==0&&data.onExchange!==null)">
                            <span ng-click="statsVm.toggle('dashboard-mph', id, id2)">{{data.name}}</span>
                        </td>
                        <td class='ellipsis'
                            ng-if="data.balance.confirmed!==0||data.balance.unconfirmed!==0||data.balance_ae.confirmed!==0||data.balance_ae.unconfirmed!==0||(data.onExchange!==0&&data.onExchange!==null)">
                            {{data.hashrate|hashrate}}
                            <span ng-if="data.workers!==[] && !statsVm.isHidden('dashboard-mph', id, id2)" style="font-size:small;">
                                <span ng-repeat="(key, value) in data.workers track by $index">
                                    <br/>
                                    {{value.username}}: {{value.hashrate|hashrate}}<span
                                        class="nomobile"> (diff: {{value.difficulty}})</span>
                                </span>
                            </span>
                        </td>
                        <td class='ellipsis'
                            ng-if="data.balance.confirmed!==0||data.balance.unconfirmed!==0||data.balance_ae.confirmed!==0||data.balance_ae.unconfirmed!==0||(data.onExchange!==0&&data.onExchange!==null)">
                            {{data.profitability * data.hashrate|number:4}} BTC/Day
                        </td>
                        <td class='ellipsis'
                            ng-if="data.balance.confirmed!==0||data.balance.unconfirmed!==0||data.balance_ae.confirmed!==0||data.balance_ae.unconfirmed!==0||(data.onExchange!==0&&data.onExchange!==null)">
                            <span data-toggle="tooltip" title="{{(data.balance.confirmedFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                                {{data.balance.confirmed}}
                            </span>
                            <span data-toggle="tooltip" title="{{(data.balance.unconfirmedFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                                ({{data.balance.unconfirmed}})
                            </span>
                            {{data.symbol}}
                        </td>
                        <td class='ellipsis'
                            ng-if="data.balance.confirmed!==0||data.balance.unconfirmed!==0||data.balance_ae.confirmed!==0||data.balance_ae.unconfirmed!==0||(data.onExchange!==0&&data.onExchange!==null)">
                            <span data-toggle="tooltip" title="{{(data.balance_ae.confirmedFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                                {{data.balance_ae.confirmed}}
                            </span>
                            <span data-toggle="tooltip" title="{{(data.balance_ae.unconfirmedFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                                ({{data.balance_ae.unconfirmed}})
                            </span>
                            {{data.symbol}}
                        </td>
                        <td class='ellipsis'
                            ng-if="data.balance.confirmed!==0||data.balance.unconfirmed!==0||data.balance_ae.confirmed!==0||data.balance_ae.unconfirmed!==0||(data.onExchange!==0&&data.onExchange!==null)">
                            <span data-toggle="tooltip" title="{{(data.onExchangeFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                                {{data.onExchange}} {{data.symbol}}
                            </span>
                        </td>
                    </tr>
                    <tr ng-if="dashboard.data.profitabilitySum!==undefined && dashboard.data.profitabilitySum!==null">
                        <td colspan="2" style="font-weight: bold;">Total</td>
                        <td style="font-weight: bold;">{{dashboard.data.profitabilitySum | number:4}}
                            BTC/Day<br/>{{dashboard.data.profitabilitySumFiat | number:2}} EUR/Day
                        </td>
                        <td style="font-weight: bold;">
                            {{dashboard.data.balanceSumFiat | number:2}} EUR<br/>
                            Total: {{dashboard.data.balanceTotalSumFiat | number:2}} EUR
                        </td>
                        <td style="font-weight: bold;">
                            {{dashboard.data.balanceAESumFiat | number:2}} EUR
                        </td>
                        <td style="font-weight: bold;">
                            {{dashboard.data.balanceOnExchangeSumFiat | number:2}} EUR
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 centerAlign">
                <a href="https://miningpoolhub.com/" target="_blank">MPH Homepage</a>
            </div>
        </div>

        <div id="board{{id}}" ng-if="dashboard.type==='genericMPOS'">
            <div class="col-md-12  table-responsive">
                <div class="centerAlign">Stats ({{statsVm.parseName(dashboard.name)}}):</div>
                <table class="table table-bordered table-condensed leftAlign">
                    <thead>
                    <tr>
                        <th>Hashrate</th>
                        <th>Confirmed</th>
                        <th>Unconfirmed</th>
                        <th>Estimated Round Earnings</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class='ellipsis'>{{dashboard.data.hashrate|hashrate}}
                            <span ng-if="dashboard.data.workers!==[]" style="font-size:small;">
    <span ng-repeat="(key, value) in dashboard.data.workers track by $index">
        <br/>
        {{value.username}}: {{value.hashrate|hashrate}}<span
            class="nomobile"> (diff: {{value.difficulty}})</span>
    </span>
</span>
                        </td>
                        <td class='ellipsis'>
                            <span data-toggle="tooltip" title="{{(dashboard.data.confirmedFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                                {{dashboard.data.confirmed}} {{dashboard.data.symbol}}
                            </span>
                        </td>
                        <td class='ellipsis'>
                            <span data-toggle="tooltip" title="{{(dashboard.data.unconfirmedFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                                {{dashboard.data.unconfirmed}} {{dashboard.data.symbol}}
                            </span>
                        </td>
                        <td class='ellipsis'>
                            <span data-toggle="tooltip" title="{{(dashboard.data.estimatedFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                                {{dashboard.data.estimated}} {{dashboard.data.symbol}}
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 centerAlign">
                <a href="{{dashboard.baseUrl}}/index.php?page=statistics&action=pool" target="_blank">Pool
                    Homepage</a>
            </div>
        </div>
    </div>

    <div class="masonry-brick col-md-6" ng-if="statsVm.isDashboardTypeEnabled('node-cryptonote-pool') || statsVm.isDashboardTypeEnabled('snipa-nodejs-pool')">
        <div class="col-md-12  table-responsive">
            <div class="centerAlign">Node-Cryptonote-Pools:</div>
            <table class="table table-bordered table-condensed leftAlign">
                <thead>
                <tr>
                    <th>Hashrate</th>
                    <th>Pending</th>
                    <th>Paid</th>
                    <th>Last Share</th>
                    <th>Est. Daily Profit</th>
                    <th>Last Block found</th>
                    <th>Homepage</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(id, dashboard) in statsVm.current.dashboardData | nodeCryptonightPool track by $index">
                    <td class='ellipsis'>{{dashboard.data.hashrate | hashrate:null:0}}</td>
                    <td class='ellipsis'>
                                <span data-toggle="tooltip" title="{{(dashboard.data.pendingFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                                    {{dashboard.data.pending | number: 8}} {{dashboard.data.symbol}}
                                </span>
                    </td>
                    <td class='ellipsis'>
                                <span data-toggle="tooltip" title="{{(dashboard.data.paidFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                                    {{dashboard.data.paid | number: 8}} {{dashboard.data.symbol}}
                                </span>
                    </td>
                    <td class='ellipsis'>{{dashboard.data.lastShareSubmitted}}</td>
                    <td class='ellipsis'>
                                <span data-toggle="tooltip" title="{{(dashboard.data.estimatedProfitFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                                    {{dashboard.data.estimatedProfit | number: 8}} {{dashboard.data.symbol}}
                                </span>
                    </td>
                    <td class='ellipsis'>{{dashboard.data.lastBlockFound}}</td>
                    <td><a href="{{statsVm.stripNodeCryptonotePoolUrl(dashboard.baseUrl)}}" target="_blank">Pool</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <span ng-repeat="(id,group) in statsVm.current.entries | orderBy:'name' track by $index">
        <div class="col-md-4 table-responsive masonry-brick" ng-repeat="(id2, entry) in group.devices | toArray | orderBy:'name' | filter: {type: 'miner-agent'} track by $index">
            <div class="row">
                <div class="col-md-12">
                    <div style="float: left;font-size:120%;"><a href="{{entry.hostname}}" target="_blank">{{entry.name}}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th><span data-toggle="tooltip" title="Miner Type" data-placement="bottom">Type</span>
                            </th>
                            <th><span data-toggle="tooltip" title="Algorithm" data-placement="bottom">Algo</span>
                            </th>
                            <th><span data-toggle="tooltip" title="Hashrate" data-placement="bottom">Hr</span></th>
                            <th><span data-toggle="tooltip" title="Accepted Shares"
                                      data-placement="bottom">Acc</span></th>
                            <th><span data-toggle="tooltip" title="Rejected Shares"
                                      data-placement="bottom">Rej</span></th>
                            <th><span data-toggle="tooltip" title="Temperature" data-placement="bottom">Temp</span>
                            </th>
                            <th><span data-toggle="tooltip" title="Miner Uptime"
                                      data-placement="bottom">Uptime</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="entry.entries | isEmpty">
                            <td class="danger">OFFLINE</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr ng-repeat="d in entry.entries track by $index">

                            <td ng-if="d.type==='cpuminer-opt'||d.type==='ccminer'||d.type==='sgminer'">
                                {{d.data.miner}}
                            </td>
                            <td ng-if="d.type==='claymore-eth'||d.type==='claymore-zec'||d.type==='claymore-xmr'||d.type==='optiminer-zec'">
                                {{d.type}}
                                {{d.data.version}}
                            </td>
                            <td ng-if="d.type==='nheqminer'">nheqminer</td>
                            <td ng-if="d.type==='other'">other</td>

                            <td class='ellipsis'
                                ng-if="d.type==='cpuminer-opt'||d.type==='ccminer'||d.type==='sgminer'">
                                {{d.data.algorithm}}
                            </td>
                            <td class='ellipsis' ng-if="d.type==='claymore-eth'">dagger</td>
                            <td class='ellipsis'
                                ng-if="d.type==='claymore-zec'||d.type==='optiminer-zec'||d.type==='nheqminer'">
                                equihash
                            </td>
                            <td class='ellipsis' ng-if="d.type==='claymore-xmr'">cryptonight</td>
                            <td class='ellipsis' ng-if="d.type==='other'">other</td>

                            <td class='ellipsis'
                                ng-if="d.type==='cpuminer-opt'||d.type==='ccminer'||d.type==='sgminer'"
                                ng-class="{danger:d.data.hashrate==0 ) || d.data.hashrate * 1000 < (d.expectedHr) }">
                                <span data-toggle="tooltip" title="E: {{d.expectedHr | hashrate:1:0}}" data-placement="bottom">{{d.data.hashrate
                                    |hashrate}}</span>
                            </td>
                            <td class='ellipsis' ng-if="d.type==='claymore-xmr'"
                                ng-class="{danger:d.data['xmr-hashrate']==0 || d.data['xmr-hashrate'] * 1000 < (d.expectedHr)}">
                                <span data-toggle="tooltip" title="E: {{d.expectedHr | hashrate:1:0}}" data-placement="bottom">{{d.data['xmr-hashrate'] |
                                    hashrate}}</span>
                            </td>
                            <td class='ellipsis' ng-if="d.type==='claymore-eth'"
                                ng-class="{danger:d.data['eth-hashrate']==0 || d.data['eth-hashrate'] * 1000 < (d.expectedHr)}">
                                <span data-toggle="tooltip" title="E: {{d.expectedHr | hashrate:1:0}}" data-placement="bottom">{{d.data['eth-hashrate'] |
                                    hashrate}}</span><span
                                        ng-if="d.data['alt-hashrate']!==0"><br/>alt: {{d.data['alt-hashrate'] | hashrate}}</span>
                            </td>
                            <td class='ellipsis' ng-if="d.type==='claymore-zec'"
                                ng-class="{danger:d.data['zec-hashrate']==0 || d.data['zec-hashrate'] < (d.expectedHr)}">
                                <span data-toggle="tooltip" title="E: {{d.expectedHr | solutionrate}}" data-placement="bottom">{{d.data['zec-hashrate'] |
                                    solutionrate}}</span>
                            </td>
                            <td class='ellipsis' ng-if="d.type==='nheqminer'" ng-class="{danger:d.data.solutionRate==0 || d.data.solutionRate < (d.expectedHr)}">
                                <span data-toggle="tooltip" title="E: {{d.expectedHr | solutionrate}}" data-placement="bottom">{{d.data.solutionRate |
                                    solutionrate}}</span>
                            </td>
                            <td class='ellipsis' ng-if="d.type==='optiminer-zec'" ng-class="{danger:d.data.hashrate==0 || d.data.hashrate < (d.expectedHr)}">
                                <span data-toggle="tooltip" title="E: {{d.expectedHr | solutionrate}}" data-placement="bottom">{{d.data.hashrate | solutionrate}}</span>
                            </td>
                            <td class='ellipsis' ng-if="d.type==='other'">-</td>

                            <td ng-if="d.type==='cpuminer-opt'||d.type==='ccminer'||d.type==='optiminer-zec'||d.type==='sgminer'">
                                {{d.data.accepted}}
                            </td>
                            <td ng-if="d.type==='claymore-eth'">{{d.data['eth-accepted']}}<span
                                    ng-if="d.data['alt-hashrate']!==0"><br/>alt: {{d.data['alt-accepted']}}</span>
                            </td>
                            <td ng-if="d.type==='claymore-xmr'">{{d.data['xmr-accepted']}}</td>
                            <td ng-if="d.type==='claymore-zec'">{{d.data['zec-accepted']}}</td>
                            <td ng-if="d.type==='other'||d.type==='nheqminer'">-</td>

                            <td class='ellipsis'
                                ng-if="d.type==='cpuminer-opt'||d.type==='ccminer'||d.type==='optiminer-zec'||d.type==='sgminer'"
                                ng-class="{danger:d.data.rejected/(d.data.accepted+d.data.rejected)>.1}">{{d.data.rejected}}
                                [{{d.data.rejected/(d.data.accepted+d.data.rejected)*100|number:2}}%]
                            </td>
                            <td class='ellipsis' ng-if="d.type==='claymore-eth'"
                                ng-class="{danger:d.data['eth-rejected']/(d.data['eth-accepted']+d.data['eth-rejected'])>.1}">
                                {{d.data['eth-rejected']}}
                                [{{d.data['eth-rejected']/(d.data['eth-accepted']+d.data['eth-rejected'])*100|number:2}}%]<span
                                    ng-if="d.data['alt-hashrate']!==0"><br/>alt: {{d.data['alt-rejected']}} [{{d.data['alt-rejected']/(d.data['alt-accepted']+d.data['alt-rejected'])*100|number:2}}%]</span>
                            </td>
                            <td class='ellipsis' ng-if="d.type==='claymore-xmr'"
                                ng-class="{danger:d.data['xmr-rejected']/(d.data['xmr-accepted']+d.data['xmr-rejected'])>.1}">
                                {{d.data['xmr-rejected']}}
                                [{{d.data['xmr-rejected']/(d.data['xmr-accepted']+d.data['xmr-rejected'])*100|number:2}}%]
                            </td>
                            <td class='ellipsis' ng-if="d.type==='claymore-zec'"
                                ng-class="{danger:d.data['zec-rejected']/(d.data['zec-accepted']+d.data['zec-rejected'])>.1}">
                                {{d.data['zec-rejected']}}
                                [{{d.data['zec-rejected']/(d.data['zec-accepted']+d.data['zec-rejected'])*100|number:2}}%]
                            </td>
                            <td class='ellipsis' ng-if="d.type==='other'||d.type==='nheqminer'">-</td>

                            <td ng-if="d.type==='cpuminer-opt'&&d.data.temperature" ng-class="{danger:d.data.temperature>70}">
                                {{d.data.temperature}} °C
                            </td>
                            <td ng-if="d.type==='cpuminer-opt'&&!d.data.temperature">-</td>
                            <td ng-if="d.type==='claymore-eth'||d.type==='claymore-zec'||d.type==='claymore-xmr'"><span
                                    style="margin-right: 4px;" ng-repeat="temp in d.data.temps"><span class="label"
                                                                                                 ng-class="{'label-danger':temp>80,'label-info':temp<=80}">{{temp}} °C</span></span>
                            </td>
                            <td ng-if="d.type==='other'||d.type==='ccminer'||d.type==='nheqminer'||d.type==='optiminer-zec'||d.type==='sgminer'">
                                -
                            </td>

                            <td class='ellipsis'
                                ng-if="d.type==='cpuminer-opt'||d.type==='ccminer'||d.type==='claymore-eth'||d.type==='claymore-zec'||d.type==='claymore-xmr'||d.type==='optiminer-zec'||d.type==='sgminer'">
                                {{d.data.uptime | secondsToTimeString}}
                            </td>
                            <td class='ellipsis' ng-if="d.type==='other'||d.type==='nheqminer'">-</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </span>
</div>



