<div masonry>
    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-3 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('bitcoinBalance')">
        <bitcoin-balance dashboards="statsVm.balances.bitcoin"></bitcoin-balance>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-3 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('cryptoidBalance')">
        <cryptoid-balance dashboards="statsVm.balances.cryptoid"></cryptoid-balance>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-3 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('counterpartyBalance')">
        <counterparty-balance dashboards="statsVm.balances.counterparty"></counterparty-balance>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-3 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('ethBalance')">
        <ethereum-balance dashboards="statsVm.balances.ethereum"></ethereum-balance>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-3 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('burstBalance')">
        <burst-balance dashboards="statsVm.balances.burst"></burst-balance>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-3 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('nicehashBalance')">
        <nicehash-balance dashboards="statsVm.balances.nicehash"></nicehash-balance>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-3 masonry-brick" ng-if="statsVm.isDashboardTypeEnabled('coinbase')">
        <coinbase-balance dashboards="statsVm.balances.coinbase"></coinbase-balance>
    </div>

    <div class="masonry-brick col-sm-8 col-md-8 col-lg-5 col-xl-4 col-xxl-5" ng-if="statsVm.isDashboardTypesEnabled(['generic-wallet', 'bitbean-wallet', 'bhd-wallet', 'wallet-agent'])">
        <wallet dashboards="statsVm.dashboards.wallets"></wallet>
    </div>

    <div class="masonry-brick col-sm-8 col-md-8 col-lg-6 col-xl-4 col-xxl-6" ng-repeat="(id, dashboard) in statsVm.custom.dashboardApi track by $index">
        <dashboard-api dashboard="dashboard"></dashboard-api>
    </div>

    <div class="masonry-brick col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-7" ng-repeat="(id, dashboard) in statsVm.dashboards.nicehash track by $index">
        <nicehash dashboard="dashboard"></nicehash>
    </div>
    <div class="masonry-brick col-sm-12 col-md-12 col-lg-8 col-xl-6 col-xxl-8" ng-repeat="(id, dashboard) in statsVm.dashboards.mph track by $index">
        <miningpoolhub dashboard="dashboard"></miningpoolhub>
    </div>
    <div class="masonry-brick col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-7" ng-if="statsVm.isDashboardTypeEnabled('genericMPOS')">
        <mpos dashboards="statsVm.dashboards.mpos"></mpos>
    </div>

    <div class="masonry-brick col-sm-12 col-md-12 col-lg-8 col-xl-6 col-xxl-8" ng-if="statsVm.isDashboardTypeEnabled('node-cryptonote-pool') || statsVm.isDashboardTypeEnabled('snipa-nodejs-pool')">
        <node-cryptonote-pools dashboards="statsVm.dashboards.nodeCryptonotePools"></node-cryptonote-pools>
    </div>

    <div class="masonry-brick col-sm-12 col-md-12 col-lg-8 col-xl-6 col-xxl-8" ng-if="statsVm.isDashboardTypeEnabled('yiimp')">
        <yiimp dashboards="statsVm.dashboards.yiimp"></yiimp>
    </div>

    <div class="masonry-brick col-sm-9 col-md-6 col-lg-6 col-xl-4 col-xxl-6" ng-if="statsVm.isDeviceTypeEnabled('creep-miner')">
      <creep-miner entries="statsVm.creepMiner"></creep-miner>
    </div>

    <div class="masonry-brick col-sm-9 col-md-6 col-lg-6 col-xl-4 col-xxl-6" ng-if="statsVm.isDeviceTypeEnabled('burst-proxy')">
      <burst-proxy upstreams="statsVm.burstProxies"></burst-proxy>
    </div>

    <span ng-repeat="(id, entry) in statsVm.devices track by $index">
        <div class="masonry-brick col-sm-9 col-md-6 col-lg-6 col-xl-4 col-xxl-6" ng-if="entry.type === 'miner-agent'">
            <miner-manager entry="entry"></miner-manager>
        </div>
        <div class="masonry-brick col-sm-9 col-md-6 col-lg-6 col-xl-4 col-xxl-6" ng-if="entry.type === 'storj'">
            <storj entry="entry"></storj>
        </div>
    </span>

</div>



