<div class="row">
    <div class="col-md-12">
        <div style="float: left;font-size:120%;">BurstProxy</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>Block #</th>
                <th>Elapsed</th>
                <th>Best DL</th>
                <th>Rounds</th>
                <th><span data-toggle="tooltip" title="Estimated capacity (Performance)" data-placement="bottom">EC</span></th>
                <th>Plot size</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="upstream in $ctrl.upstreams track by $index">
                <td>{{upstream.name}}</td>
                <td><span data-toggle="tooltip" title="difficulty: {{upstream.netDiff.toFixed(0)}}" data-placement="bottom">{{upstream.blockNumber}}</span></td>
                <td>{{$ctrl.getTimeElapsedSinceLastBlock(upstream.roundStart)}}</td>
                <td>{{$ctrl.getBestDeadlineString(upstream.bestDL)}}</td>
                <td>
                    <span data-toggle="tooltip" title="Rounds won / DL's submitted / total historical DL count" data-placement="bottom">
                      {{upstream.roundsWon}} / {{upstream.roundsSubmitted}} / {{upstream.totalRounds}}
                    </span>
                </td>
                <td>{{upstream.performanceString}}</td>
                <td><span data-toggle="tooltip" title="Block found every {{$ctrl.getTimeTillFoundBlock(upstream.timeToFindBlockInSeconds)}} | {{$ctrl.getRewardsPerDayString(upstream)}}" data-placement="bottom">{{upstream.totalCapacityString}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
