<div class="col-md-12">
    <div class="centerAlign">Stats ({{$ctrl.parseName($ctrl.dashboard.name)}}):</div>
    <table class="table table-bordered table-condensed leftAlign">
        <thead>
        <tr>
            <th>Coin</th>
            <th>Hashrate</th>
            <th>Profitability</th>
            <th>Balance</th>
            <th>Balance (AE)</th>
            <th>On Exchange</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(id, data) in $ctrl.dashboard.data.statsData | orderBy:'name' track by $index">
            <td ng-if="data.balance.confirmed!==0||data.balance.unconfirmed!==0||data.balance_ae.confirmed!==0||data.balance_ae.unconfirmed!==0||(data.onExchange!==0&&data.onExchange!==null)">
                <span ng-click="$ctrl.toggleHidden(id)">{{data.name}}</span>
            </td>
            <td class='ellipsis'
                ng-if="data.balance.confirmed!==0||data.balance.unconfirmed!==0||data.balance_ae.confirmed!==0||data.balance_ae.unconfirmed!==0||(data.onExchange!==0&&data.onExchange!==null)">
                {{data.hashrate|hashrate}}
                <span ng-if="data.workers!==[] && !$ctrl.isHidden(id)" style="font-size:small;">
                                <span ng-repeat="(key, value) in data.workers track by $index">
                                    <br/>
                                    {{value.username}}: {{value.hashrate|hashrate}}<span
                                        class="nomobile"> (diff: {{value.difficulty}})</span>
                                </span>
                            </span>
            </td>
            <td class='ellipsis'
                ng-if="data.balance.confirmed!==0||data.balance.unconfirmed!==0||data.balance_ae.confirmed!==0||data.balance_ae.unconfirmed!==0||(data.onExchange!==0&&data.onExchange!==null)">
                {{data.profitability * data.hashrate|customnumber:4}} BTC/Day
            </td>
            <td class='ellipsis'
                ng-if="data.balance.confirmed!==0||data.balance.unconfirmed!==0||data.balance_ae.confirmed!==0||data.balance_ae.unconfirmed!==0||(data.onExchange!==0&&data.onExchange!==null)">
                            <span data-toggle="tooltip" title="{{(data.balance.confirmedFiat | customnumber: 2) || 'unknown'}} €" data-placement="bottom">
                                {{data.balance.confirmed | customnumber:8}}
                            </span>
                <span data-toggle="tooltip" title="{{(data.balance.unconfirmedFiat | customnumber: 2) || 'unknown'}} €" data-placement="bottom">
                                ({{data.balance.unconfirmed | customnumber:8}})
                            </span>
                {{data.symbol}}
            </td>
            <td class='ellipsis'
                ng-if="data.balance.confirmed!==0||data.balance.unconfirmed!==0||data.balance_ae.confirmed!==0||data.balance_ae.unconfirmed!==0||(data.onExchange!==0&&data.onExchange!==null)">
                            <span data-toggle="tooltip" title="{{(data.balance_ae.confirmedFiat | customnumber: 2) || 'unknown'}} €" data-placement="bottom">
                                {{data.balance_ae.confirmed | customnumber:8}}
                            </span>
                <span data-toggle="tooltip" title="{{(data.balance_ae.unconfirmedFiat | customnumber: 2) || 'unknown'}} €" data-placement="bottom">
                                ({{data.balance_ae.unconfirmed | customnumber:8}})
                            </span>
                {{data.symbol}}
            </td>
            <td class='ellipsis'
                ng-if="data.balance.confirmed!==0||data.balance.unconfirmed!==0||data.balance_ae.confirmed!==0||data.balance_ae.unconfirmed!==0||(data.onExchange!==0&&data.onExchange!==null)">
                            <span data-toggle="tooltip" title="{{(data.onExchangeFiat | customnumber: 2) || 'unknown'}} €" data-placement="bottom">
                                {{data.onExchange | customnumber:8}} {{data.symbol}}
                            </span>
            </td>
        </tr>
        <tr ng-if="$ctrl.dashboard.data.profitabilitySum!==undefined && $ctrl.dashboard.data.profitabilitySum!==null">
            <td colspan="2" style="font-weight: bold;">Total</td>
            <td style="font-weight: bold;">{{$ctrl.dashboard.data.profitabilitySum | customnumber:4}}
                BTC/Day<br/>{{$ctrl.dashboard.data.profitabilitySumFiat | customnumber:2}} EUR/Day
            </td>
            <td style="font-weight: bold;">
                {{$ctrl.dashboard.data.balanceSumFiat | customnumber:2}} EUR<br/>
                Total: {{$ctrl.dashboard.data.balanceTotalSumFiat | customnumber:2}} EUR
            </td>
            <td style="font-weight: bold;">
                {{$ctrl.dashboard.data.balanceAESumFiat | customnumber:2}} EUR
            </td>
            <td style="font-weight: bold;">
                {{$ctrl.dashboard.data.balanceOnExchangeSumFiat | customnumber:2}} EUR
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-12 centerAlign">
    <a href="https://miningpoolhub.com/" target="_blank">MPH Homepage</a>
</div>