<div class="col-md-12">
    <div class="centerAlign">Stats ({{$ctrl.parseName($ctrl.dashboard.name)}}):</div>
    <table class="table table-bordered table-condensed leftAlign">
        <thead>
        <tr>
            <th>Hashrate</th>
            <th>Confirmed</th>
            <th>Unconfirmed</th>
            <th>Estimated Round Earnings</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class='ellipsis'>{{$ctrl.dashboard.data.hashrate|hashrate}}
                <span ng-if="$ctrl.dashboard.data.workers!==[]" style="font-size:small;">
                <span ng-repeat="(key, value) in $ctrl.dashboard.data.workers track by $index">
                    <br/>
                    {{value.username}}: {{value.hashrate|hashrate}}<span
                        class="nomobile"> (diff: {{value.difficulty}})</span>
                </span>
            </span>
            </td>
            <td class='ellipsis'>
                <span data-toggle="tooltip" title="{{($ctrl.dashboard.data.confirmedFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                    {{$ctrl.dashboard.data.confirmed}} {{$ctrl.dashboard.data.symbol}}
                </span>
            </td>
            <td class='ellipsis'>
                <span data-toggle="tooltip" title="{{($ctrl.dashboard.data.unconfirmedFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                    {{$ctrl.dashboard.data.unconfirmed}} {{$ctrl.dashboard.data.symbol}}
                </span>
            </td>
            <td class='ellipsis'>
                <span data-toggle="tooltip" title="{{($ctrl.dashboard.data.estimatedFiat | number: 2) || 'unknown'}} €" data-placement="bottom">
                    {{$ctrl.dashboard.data.estimated}} {{$ctrl.dashboard.data.symbol}}
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-12 centerAlign">
    <a href="{{$ctrl.dashboard.baseUrl}}/index.php?page=statistics&action=pool" target="_blank">Pool
        Homepage</a>
</div>