<div class="col-md-12">
    <div class="centerAlign">Workers ({{$ctrl.parseName($ctrl.dashboard.name)}}):</div>
    <table class="table table-bordered table-condensed leftAlign">
        <thead>
        <tr>
            <th class="leftAlign">Mining Rig</th>
            <th class="leftAlign">Devices</th>
            <th class="leftAlign">Profitability</th>
            <th class="leftAlign">Unpaid balance</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="miningRig in $ctrl.dashboard.data.miningStats.miningRigs track by miningRig.rigId">
            <td>{{miningRig.name}} ({{miningRig.minerStatus}})</td>
            <td>
              <span ng-repeat="device in miningRig.devices track by device.id">
                {{device.name}} ({{device.status.description}})
                <span ng-if="device.temperature !== -1">| {{device.temperature}}°C</span>
                <span ng-if="device.load !== -1">| {{device.load}}%</span>
                <span ng-repeat="speed in device.speeds track by speed.algorithm">
                  <br/>
                  <span style="padding-left: 12px">{{speed.title}}: {{speed.speed}} {{speed.displaySuffix}}/s</span>
                </span>
              <br/>
              </span>
            </td>
            <td class='ellipsis'>
              {{miningRig.profitability | customnumber:4}} BTC/Day
            </td>
            <td>
              <span class='ellipsis'>{{miningRig.unpaidAmount | customnumber:8}}</span> BTC
            </td>
        </tr>
        </tbody>
        <tr ng-if="$ctrl.dashboard.data.miningStats!==undefined && $ctrl.dashboard.data.miningStats!==null">
            <td colspan="2" style="font-weight: bold;">Total</td>
            <td style="font-weight: bold;">{{$ctrl.dashboard.data.miningStats.totalProfitability | customnumber:4}}
                BTC/Day<br/>{{($ctrl.dashboard.data.miningStats.totalProfitabilityFiat || 0)
                | customnumber:2}} EUR/Day
            </td>
            <td style="font-weight: bold;">{{$ctrl.dashboard.data.balances.pending | customnumber:8}} BTC<br/>{{($ctrl.dashboard.data.balances.pendingFiat || 0)
                | customnumber:2}} EUR
            </td>
        </tr>
    </table>
</div>
<div class="col-md-12">
    <div class="centerAlign">Payments ({{$ctrl.parseName($ctrl.dashboard.name)}}):</div>
    <table class="table table-bordered table-condensed leftAlign">
        <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Fee</th>
            <th>TXID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(id, data) in $ctrl.dashboard.data.miningPayouts track by $index">
            <td>{{data.time * 1000 | date: "yyyy-MM-dd HH:mm"}}</td>
            <td>{{data.amount}} BTC</td>
            <td>{{data.fee}} BTC</td>
            <td class='ellipsisbig'><a href="https://blockchain.info/tx/{{data.TXID}}"
                                       target="_blank">{{data.TXID}}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-12 centerAlign">
    <a href="https://www.nicehash.com/my/mining/rigs" target="_blank">Nicehash
        {{$ctrl.parseName($ctrl.dashboard.name)}}</a>
</div>
