html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 2em;
}

/* Index / Shorten wide values in tables and show them on hover */
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
}
.ellipsis:hover{
    overflow: visible;
    max-width:none;
    width:auto;
    background-color: #fff!important;
}

.ellipsisbig{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 240px;
}
.ellipsisbig:hover{
    overflow: visible;
    max-width:none;
    width:auto;
    background-color: #fff!important;
}

.mycontainer {
    width: 96%;
    margin: 0 auto;
}

.centerAlign {
    text-align:center;
}

.leftAlign {
    text-align:left;
}


.footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 2em;
}

.highlight {
    background-color: lightgreen;
    transition: background 500ms;
}

@media screen and (max-width: 760px) {
    .nomobile {
        display:none;
    }
}